*~
*.bak
*.qws
db/
incremental_db/
greybox_tmp/
/de0-nano/DE0_Nano.jdi
/de0-nano/DE0_Nano.tis_db_list.ddb
/de0-nano/PLLJ_PLLSPE_INFO.txt
/vhdl/testbenches/i2c_iface/modelsim/i2c.log
/doc/doxygen/html/
/doc/doxygen/latex/

/de0-nano/DE0_Nano_assignment_defaults.qdf
